body{
    margin: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

.App{
    width: 97.5vw;
    height: 94vh;
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    padding:1rem;
    gap:1rem;
}
.navbar{
    background-color: rgba(168, 168, 168, 0.272);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    height: 6vh;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
}
.main{
    height: 98%;
    width: 100%;
    display: flex;
    gap: 1rem;
}
.filter,.analytics{
    display: flex;
    flex: 0.4;
    background-color: rgba(168, 168, 168, 0.272);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}
.display{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.upload{
    display: flex;
    width: 70%;
    height: 10vh;
    background-color: rgb(37, 221, 147);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
}

.fil_options{
    background-color: rgba(66, 66, 66, 0);
    height: 6vh;
    width: 70%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-row{
    width: 100%;
    height: 100%;
    flex:1;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: scroll;
    align-items: center;
}
.cards-row1{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    text-align: center;
}
.cards-row2{
    display: flex;
    gap: 1rem;
    text-align: center;
}
.cards{
    background-color: rgba(168, 168, 168, 0.272);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
    display: flex;
    height: 20%;
    width: 94%;
    font-size:15px;
    padding-inline: 1rem;
    flex-direction: column;
    overflow: scroll;
    text-decoration: none;
    text-align: left;

}
.cards *{
    margin-block: 0.2rem;
}
.cards li{
    background-color:rgb(37, 221, 147) ;
    padding-inline: 0.5rem;
    padding-block:0.1rem;
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
}
ul{
    list-style: none;
    padding-left:0;

}

.hover:hover{
    filter: brightness(1.2);
}

.hover{
    transition: all 0.1s ease-in-out;
}
.tag{
    padding-inline:1rem;
    height: 5vh;
    background-color: rgb(37, 221, 147);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
    margin: 0;
}
.tagCont{
    width: 100%;
    display: flex;
    padding: 0.1rem;
    flex-wrap: wrap;
    gap:0.5rem;
    
}
.addTag{
    display: flex;
    gap: 0.3rem;
}
.addTag button{
    background-color: rgb(37, 221, 147);
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.2rem;
    border: none;
    justify-content: center;
    align-items: center;
    color: rgb(254, 254, 254);
}

.addTag input{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    color: antiquewhite;

}
 .searchbar{
        background-color: rgba(168, 168, 168, 0.272);
        box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
        height: 8vh;
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        align-items: center;
}
.searchbar input{
    background-color:rgba(168, 168, 168, 0);
    border: none;
    color: antiquewhite;
    height: 60%;
    width: 70%;
}
input:focus{
    outline: none;
}
.searchButton{
    height: 60%;
    color: white;
    background-color:rgb(37, 221, 147);
    border: none;
    box-shadow: 1px 2px 5px 1px rgba(35, 35, 35, 0.274);
    border-radius: 0.5rem;
}

